@inherits LayoutComponentBase

<header>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-primary m-1" href="">Home</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary m-1" href="Customers">Customers</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary m-1" href="Products">Products</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary m-1" href="Orders">Orders</a>
        </li>
    </ul>
</header>

<main>
    @Body
</main>
